.mesa-status{
display: flex;
flex-direction: row;
gap: 6%;
}

.mesa-status p {
border-radius: 0.5rem;
background-color: rgb(0, 0, 0);
color: aliceblue;
width: 40%;
height: 26px;
text-align: center;
align-content: center;
font-weight: bold;
}

.box-reseva{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.side-b2 li:nth-child(1){
    list-style: none;
    border-radius: 0.5rem;
    border: 1px solid rgb(180, 180, 180);
    width: 40%;
    height: 40%;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.side-b2 li:nth-child(2) {
    list-style: none;
    border-radius: 0.5rem;
    background-color: rgb(211, 3, 3);
    color: aliceblue;
    width: 40%;
    height: 40%;
    text-align: center;
    align-content: center;
    /* font-weight: bold; */
}

.side-b2 li:nth-child(1):hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.side-b2 li:nth-child(2):hover {
    cursor: pointer;
}

.side-b2 {
    display: flex;
    flex-direction: row;
    gap: 6%;
    text-align: right;
    justify-items: right;
    width: 10%;
}

.side-a2 {
    width: 15%;
}

