.page-itens{
    align-content: center;
    justify-items: center;
    background-size: 100% 100%;
    background-image: url(../../../assets/Images/delivery/bg-itens.png);
}

.box-bg{
    height: 100%;
    justify-items: center;
}

.info-container{
    margin-top: 4%;
    width: 100%;
    align-content: end;
}

.box-infos {
 width: 100%;
 height: 100%;
justify-items: center;
align-content: center;
}

.box-infos h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px #fff;
    font-family: "Italianno", serif;
    font-weight: 600;
    font-size: 80px;
}

.box-infos h2{
    color: rgb(255, 255, 255);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}

.container-itens-box{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    gap: 3%;
    height: 68%;
    width: 75%;
    align-content: center;
    justify-items: center;
    justify-content: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.item-box1{
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    border-radius: 1.5rem;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.item-box {
    padding: 5.5% 5.5%;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 1.5rem;
}

.item-box h3{
    font-size: 22px;
    font-weight: 600;
}

.item-img{
    height: 45%;
    width: 100%;
}

.item-img img{
    height: 100%;
    width: 100%;
    background-color: rgb(77, 75, 75);
    border-radius: 14px;
}

.item-box1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.box-content {
    height: 30%;
    width: 100%;
    padding-top: 3.5%;
    text-align: center;
}

.name-item{
    color: brown;
    justify-items: center;
    height: 35%;
    width: 100%;
}

.description-item{
    height: 20%;
    margin: 8px 0px 8px 0px;
    color: black;
}

.all-cart{
    margin-top: 5%;
    height: 15%;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.box-cart{
    height: 100%;
}

.option-add-cart{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    color: black;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.option-add-cart p{
margin-bottom: unset;
}

.buttons{
    height: 100%;
    width: auto;
    align-content: center;
}
.option-add-cart svg:hover {
color: red;
background-color: #fff;
scale: 1.3;
}

.buttons svg{
    font-size: 26px;
    background-color: rgb(211, 5, 5);
    color: #fff;
}

.amount{
    font-size: 18px;
    font-weight: bold;
}

.add-cart{
margin-top: 16px;
height: 38px;
width: 100%;
text-align: center;
}

.add-cart button{
    height: 100%;
    width: 60%;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    background-color: rgb(211, 5, 5);
    border: none;
    cursor: pointer;
}

.add-cart button:hover{
    font-weight: bold;
}

.disable-button {
    margin-top: 16px;
    height: 38px;
    width: 100%;
    text-align: center;
}

.disable-button button{
    height: 100%;
    width: 170px;
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(211, 5, 5, 0.295);
    border: none;
    cursor: pointer;
}

.disable-button button:hover {
    font-weight: bold;
    background-color: rgb(211, 5, 5);
}

.price{
    padding-top: 18px;
    height: 42px;
    width: 100%;
    color: black;
    justify-items: center;
    font-weight: bold;
    font-size: 20px;
}