 .delivery-content {
   background-size:   100% 100%;
   background-image: url("../../../assets/Images/mesawpp.jpg");
   justify-items: center;
   font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 300px;
   font-style: normal;
 }

 .box-page{
  width: 65%;
  height: 100%;
  background-color: #fff;
  justify-items: center;
  align-content: center;
 }

 #content-category{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-content: center;
  align-items: center;
 }
    
 .intro h1{
    padding-top : 100px;
    text-align: center;
    color: rgb(206, 15, 15);
    font-size: 50px;
    font-weight: 600;
}

 .intro h2 {
   color: rgb(2, 2, 2);
   margin-top: 40px;
 }

 .all-category {
   width: 100%;
   height: 65%;
 }
 .item-category {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      height: 100%;
      width: 100%;
      justify-content: center;
      
 }

 .box-item {
   height: 90%;
   width: 90%;
   background: #00000060;
   border-radius: 25px;
   justify-items: center;
   align-content: center;
  cursor: pointer;
 }

.box-item h3 {
   font-size: 26px;
   color: #fff;
}


 .box-item h3:hover {
font-size: 28px;
 }

 