 .delivery-content {
   background-size:   100% 100%;
   /* background-image: url("../../../assets/Images/mesawpp.jpg"); */
   background-color: rgb(0, 0, 0);
   justify-items: center;
   font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 300px;
   font-style: normal;
 }

 .box-page{
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.753) 0px 2px 16px 0px; */
  box-shadow: rgba(221, 221, 221, 0.753) 0px 2px 16px 0px;
 }

 #content-category{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-content: center;
  align-items: center;


 }
    
.intro{
  width: 100%;
  height: 45%;
  background-image: url("../../../assets/Images/delivery/delivery-category-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

 .intro h1{
    padding-top : 100px;
    text-align: center;
    /* color: rgb(206, 15, 15); */
    font-size: 70px;
    font-weight: 600;
}

 .intro h2 {
   color: rgb(255, 255, 255);
   margin-top: 40px;
   padding: 0% 6%;
   text-align: center;
   font-size: 32px;
 }

 .neon-text {
   font-size: 4rem;
   color: #fff;
   text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
   animation: glow 1.5s infinite alternate;
 }

 @keyframes glow {
   0% {
     text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
   }

   100% {
     text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
   }
 }

 .all-category {
   width: 100%;
   height: 65%;
    padding: 2% 4%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #080c08;

 }
 
 .item-category {
      /* display: grid; */
      display: flex;
      grid-template-columns: 25% 25% 25%;
      height: 100%;
      width: 100%;
      gap: 2%;
      justify-content: center;
      align-items: center;
      justify-items: center;
      
 }

 .box-item {
   height: 55%;
   width: 30%;
   background: #00000060;
   border-radius: 25px;
   justify-items: center;
   align-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.925) 0px 5px 12px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
 }


.box-item::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg,
      transparent,
      transparent 30%,
      rgba(0, 255, 255, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
        
.box-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
  text-shadow: 2px -2px 10px #fff;
}

.box-item:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.box-item h3 {
   font-size: 26px;
   color: #fff;
}


 /* .box-item h3:hover {
font-size: 28px;
transition-duration: 0.4s;
  
 } */

 